#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 10px;
}
#container>div{
    box-shadow: 2px 2px 3px rgb(210, 207, 207);
    border-radius: 5px;
}
h1{
    text-align: center;
    color: blueviolet;
}
img{
    
    transform: translateX(50px);
}
img+h3{
    text-align: center;
}
h3+p{
    text-align: center;
}
h3+p+p{
    text-align: center;
}

button{
    transform: translateX(130px);
}